@velvet-gold:       rgb(222,190,122);
@velvet-hellgold:   rgb(237,220,183);
@velvet-pink:       rgb(205,23,78);
@velvet-weiss:      rgb(255,255,255);
@velvet-grau:       rgb(122,122,122);
@velvet-schwarz:    rgb(0,0,0);