body {
	font-family: 'Playfair Display', serif;
	color:@velvet-weiss;
	font-weight:300;
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6,
.entry-title,
.entry-title a {
    color:@velvet-gold;
    font-weight: 600;
    font-style: italic;
}

::selection {
    background: @velvet-gold !important;
}

hr {
    opacity: .25;
    background-color: @velvet-weiss;
}

.menu-toggle, button, .ast-button, .button, input#submit, input[type="button"], input[type="submit"], input[type="reset"] {
    color:@velvet-schwarz;
}

body.single-girls {
    .menu-item.menu-item-object-girls {
        a {
            color:@velvet-gold;
        }
    }
}

.main-header-bar {
    /*background:url(../img/header-tapete.png) repeat-x @velvet-schwarz top center;
    border-bottom:5px solid @velvet-gold;
    padding:0;*/
}

.ast-header-break-point .main-header-bar .main-header-bar-navigation .main-header-menu,
.ast-header-break-point .main-navigation ul li a {
    border-color:fade(@velvet-weiss, 25%);
}
.ast-header-break-point .main-header-menu {
    background:@velvet-schwarz;
}

.widget_search .search-form {
    &:after {
        color:@velvet-schwarz;
    }

    .search-field {
        background:@velvet-gold;
        color:@velvet-schwarz;
        border-radius: 0;
        border:0;
    }
}

.site-title {
    font-style: normal;
    
    > a {
        color:@velvet-weiss !important;
    }
}

.ast-button.velvet-button {
    padding:10px 30px;
    color:@velvet-schwarz;
    text-align: center;

    &:hover {
        opacity: .9;
    }
}

#masthead .site-logo-img .custom-logo-link img {
    margin-left:-30px;
}

.ast-separate-container .ast-article-post,
.ast-separate-container .ast-article-single {
    background:@velvet-schwarz;
    .glow;

    +.home-teaser {
        margin-top:4em;
    }

    &.home-teaser {

        background-repeat:no-repeat;
        background-size: cover;
        background-position: center;

        .entry-content.u-text-right p {
            padding-left:50%;
        }

        .entry-content.u-text-left p {
            padding-right:50%;
        }

        +.home-teaser,
        +.ast-article-single {
            margin-top:4em;
        }

        &.cta-block {

            padding-top:2.34em;
            padding-bottom:2.34em;

            h4 {
                width:66%;
                color:@velvet-schwarz;
                margin-top:.5em;
                margin-bottom: 0;
                font-style: normal;
                .u-pull-left;
            }

            .ast-button {
                .u-pull-right;
                border:1px solid @velvet-schwarz;
            }
        }

        &.home-teaser-banner {
            padding:0;
        }
    }
}

.header-image-above {
    .glow;
}

#comments {
    .comments-count-wrapper,
    .ast-comment-list,
    .ast-comment-list > .comment {
        background:@velvet-schwarz;
    }

    li + li {
        border-top:1px solid @velvet-gold;
    }
}

#respond {
    background:@velvet-gold;

    h3,
    h3 > small,
    #ast-commentform > *,
    #ast-commentform > * > * {
        color:@velvet-schwarz !important;
    }

    input[type="submit"] {
        border:1px solid @velvet-weiss;
    }
}

.ast-separate-container .ast-archive-description,
.ast-separate-container .ast-author-box,
.velvet-headline {
    background-color:@velvet-gold;
    padding:3.33333em 6.67em;
}

.ast-archive-description .ast-archive-title,
.velvet-headline h1 {
    color:@velvet-schwarz;
    font-weight: bold;
    font-style: normal;
}

.ast-separate-container .ast-article-post.type-girls.ast-col-sm-4 {
    padding:2em;

    .post-thumb-img-content.post-thumb {
        overflow: hidden;
        height:300px;

        img {
            transition: all ease-in-out 0.25s;
            filter: sepia(75%);

            &:hover {
                transform: scale(1.05);
                filter:sepia(0%);
            }
        }
    }

    .ast-button.velvet-button {
        display: block;
        width:100%;
    }
}

article.gallery.girls {
    margin-top:4em;
}

.gallery-thumbnails {
    list-style: none;
    margin:2em 0;

    li {
        display:inline-block;
        margin:.2em .1em;

        a {
            position: relative;
            display:block;
            overflow: hidden;
            border:1px solid @velvet-gold;
            .glow(@velvet-gold,33%);

            img {
                transition: all ease-in-out 0.25s;
            }

            &:hover {
                .glow(@velvet-gold,50%);

                img {
                    transform: scale(1.05);
                }

                &:after {
                    content:"\f002";
                    font-family: 'FontAwesome';
                    font-size: 3em;
                    opacity: .5;
                    color:@velvet-gold;
                    position:absolute;
                    left:38%;
                    top:22%;
                }
            }
        }
    }
}

.widget_image {
    img {
        width:100%;
        height:auto;
        .glow;
    }
}

.widget_cta {
    .ast-button {
        display:block;
        font-size:1.1em;
    }
}

footer.site-footer {
    &:before {
        display:block;
        height:194px;
        width:100%;
        background:url(../img/bg-separator-bottom.png) no-repeat center bottom;
        opacity: .2;
    }
}

table {
    border:1px solid fade(@velvet-weiss, 33%);

    thead {
        background-color:fade(@velvet-gold, 33%);
    }

    tbody {
        tr {
            background-color:fade(@velvet-weiss, 10%);

            &:nth-of-type(even) {
                background-color:fade(@velvet-weiss, 15%);                
            }
        }
    }
}

pre {
    background:@velvet-schwarz;
}

.filter-table .quick { margin-left: 0.5em; font-size: 0.8em; text-decoration: none; }
.fitler-table .quick:hover { text-decoration: underline; }
td.alt { background-color: #ffc; background-color: rgba(255, 255, 0, 0.2); }

.home.page-template-page-start {
    article.type-post {
        p.ast-the-content-more-link {
            > a {
                .ast-button.velvet-button;
                background-color:@velvet-gold;
                border-radius: 2px;
            }
        }
        footer.entry-footer {
            display:none;
        }
    }
}

.stoerer-kreis {
    h1,h2,h3,h4,h5,h6 {
        background:@velvet-gold;
        border-radius:100%;
        transform: rotate(-5deg);
        transition: all ease-in-out 0.25s;;
        width:100%;
    }
}