/* Easy SwipeBox */
#swipebox-close,
#swipebox-bottom-bar {
    background-color:@velvet-gold;
}

/* Profile Builder / Paid Member Subscriptions */
#wppb-register-user {
    .wppb-form-field label, #wppb-login-wrap .login-username label,
    #wppb-login-wrap .login-password label {
        text-align: right;
        padding-right:1rem;
        color:@velvet-weiss;
        font-weight:bold;
    }
    #pms-subscription-plans-discount {
        label {
            text-align: left;
        }
    }
}

@media screen and (max-width: 921px) {
    #wppb-register-user {
        .wppb-form-field label, #wppb-login-wrap .login-username label,
        #wppb-login-wrap .login-password label {
            text-align: left !important;
        }
    }
}

#wppb_form_success_message,
.wppb-success {
    background: #6c3 !important;
    border: 1px solid #6c3 !important;
    color:@velvet-weiss !important;
}

.wppb-user-forms {
    input:not([type="button"]):not([type="reset"]):not([type="submit"]),
    select,
    textarea {
        /*
        background:fade(@velvet-gold, 25%);
        */
        /*background:#eaeaea;*/
        color:@velvet-schwarz !important;
        padding:.66em !important;
        border-color:@velvet-weiss;
        background: linear-gradient(to bottom,#debe7a 0%,#ffffff 100%);


        &:focus {
            border-color:@velvet-gold;
            box-shadow: 2px 0 5px 5px rgba(222,190,122,.25);
        }
    }

    input[type="submit"] {
        color:@velvet-schwarz;
    }
}
.pms-form input[type=text], .pms-form input[type=password], .pms-form input[type=email], .pms-form input[type=textarea], #pms_login input[type=text], #pms_login input[type=password], #pms_login input[type=email] {
    color:@velvet-schwarz !important;
    border-color:@velvet-weiss;
    background: linear-gradient(to bottom,#debe7a 0%,#ffffff 100%);
}

#pms_register-form,
#wppb-register-user {
    .pms-subscription-plan {
        &:before {
            content:"";
            display:block;
            width:280px;
            height:50px;
            background: url(../img/payment-icons.png) no-repeat;
            background-size: contain;
        }
    }
}

.select2-container--default {
    .select2-search--dropdown {
        background:fade(@velvet-gold, 50%) !important;
        color:@velvet-schwarz !important;

            &:after {
                content:"\f002";
                display:inline-block;
                font-family: 'FontAwesome';
                position: absolute;
                right:15px;
                opacity: .5;
            }
    }

    .select2-selection--single {
        height:35px !important;
        background:fade(@velvet-gold, 25%) !important;
        color:@velvet-weiss !important;
        border-color:#ccc !important;
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;

        .select2-selection__rendered {
            color:@velvet-weiss !important;
            line-height: 32px !important;
        }

        .select2-selection__arrow {
            height:32px !important;
        }
    }

    .select2-results__option[aria-selected] {
        background:fade(@velvet-gold, 50%) !important;
        color:@velvet-schwarz !important;
    }

    .select2-results__option[aria-selected="true"],
    .select2-results__option--highlighted[aria-selected] {
        background:@velvet-gold !important;
        color:@velvet-schwarz !important;
    }
}

.pms-subscription-details {
    display:none !important;
}

#pms_login {
    p.login-username,
    p.login-password {
        width:48%;
        display:inline-block;
    }
    p.login-username + p.login-password {
        margin-left:3%;
    }
    p.login-submit {
        text-align: right;
        margin-bottom: 0;
    }
}

.wppb-form-field.wppb-subscription-plans {
    .pms-section-credit-card-information,
    .pms-section-billing-details {
        label {
            width:30% !important;
            float: left !important;
            min-height: 1px;
        }

        .pms-field-input-container {
            width: 69.9% !important;
            float: left !important;
        }

        input {
            width:100%;
        }

        select {
            width:100%;
            float: none;
            padding:.66em !important;
            height:2.5rem;
        }

        #pms_card_exp_month,
        #pms_card_exp_year {
            width:20%;
        }
    }

    .pms-field-required {
        label:after {
            content:"*";
            display: inline-block;
            margin: 0 3px;
            color: #c0392b;
        }
    }
}

#pms_subscription_plans_discount_code {
    width:25%;
}

#select_user_to_edit_form {
    > .wppb-form-field {
        padding-right:10%;
    }
}

.wppb-register-user .wppb-field-error,
.wppb-edit-user .wppb-field-error,
#wppb-recover-password .wppb-field-error {
    border-color:#ff0000 !important;
    background-color:transparent !important;
}

@media screen and (max-width: 921px) {
    .wppb-form-field input[type="text"],
    .wppb-form-field input[type="number"],
    .wppb-form-field input[type="email"],
    .wppb-form-field input[type="url"],
    .wppb-form-field input[type="password"],
    .wppb-form-field input[type="search"],
    .wppb-form-field select,
    .wppb-form-field textarea {
        width:100% !important;
    }
}

/* bpchat */
#bpchatChatsWindow {
    z-index:99999;
}
#bpchatFriendsWindow {
    .bpchatFriendsHolder[data-window-state="0"] {
        @media (max-width: 921px) {
            &+.bpchatFriendsTitle,
            &+.bpchatFriendsTitle[data-event="open-friends-window"] {
                opacity:1 !important;
                margin-right:10px !important;
                background-color:@velvet-pink !important;

                .chatIcon {
                    padding:1px 12px !important;
                    filter: brightness(10) !important;
                }
            }
        }
        @media (min-width: 921px) {
            &+.bpchatFriendsTitle {
                &:before {
                    content:"";
                    position: absolute;
                    bottom:2.5rem;
                    right:0rem;
                    display:block;
                    width:242px; 
                    height:175px;
                    background:url(../img/icon-chat_v2.png) no-repeat;
                }
            }
        }
    }
    @media (min-width: 921px) {
        .chatIcon {
            filter: brightness(0);
        }
    }
    .bpchatFriendsFilter,
    .bpchatFriendsBody {
        color:@velvet-schwarz;
    }
    .bpchatFriendsFooter {
        display:none;
    }
}

#bpchatChatsWindow {
    .bpchatMessage {
        background-color:#f8f8f8;
        box-shadow: 0 1px 1px rgba(0,0,0,.8);
    }
}

@media only screen and (min-width: 1824px) {
    #bpchatFriendsWindow {
        width: 18%;
        max-width:300px;
    }
}

body.user-role-subscriber {
    #bpchatFriendsWindow {
        .bpchatFriendsBody {
            .bpchatFriendsRow:not([data-parameter-user-id="6"]) {
                display:none;
            }
        }
    }
}
body.user-status-pending {
    #bpchat-smiley,
    #bpchatChatsWindow,
    #bpchatFriendsWindow {
        display:none !important;
    }
}

/* Quform */
.quform {
    .quform-field-icon {
        color:@velvet-schwarz;
    }

    input[type=email], input[type=number], input[type=password], input[type=reset], input[type=search], input[type=tel], input[type=text], input[type=url], select, textarea {
        color:@velvet-schwarz !important;
        border-color:@velvet-weiss;
        background: linear-gradient(to bottom,#debe7a 0%,#ffffff 100%);
    }
}

/* Beaver Builder */
.fl-module-post-grid,
.fl-post-grid-content {
    p.read-more {
        display:none;
    }
}
.fl-builder-pagination li a.page-numbers:hover,
.fl-builder-pagination li span.current {
    background-color:@velvet-gold;
    color:@velvet-schwarz;
}
.fl-builder-pagination li a.page-numbers,
.fl-builder-pagination li span.page-numbers {
    border-color: @velvet-gold;
}
.pp-login-form .pp-login-form--input,
.uabb-lf-form-wrap .uabb-lf-form-input {
    color:@velvet-schwarz !important;
    border-color:@velvet-weiss;
    background: linear-gradient(to bottom,#debe7a 0%,#ffffff 100%);
}