.u-text-right {
    text-align: right;
}

.u-text-left {
    text-align: left;
}

.u-text-center {
    text-align: center;
}

.u-pull-left {
    float:left;
}

.u-pull-right {
    float:right;
}

.u-hidden {
    display:none;
}

.u-text-schwarz {
    color: @velvet-schwarz !important;
    > * {
        color: @velvet-schwarz !important;        
    }
}

.u-text-weiss {
    color: @velvet-weiss !important;
    > * {
        color: @velvet-weiss !important;        
    }
}

.u-text-pink {
    color: @velvet-pink !important;
    > * {
        color: @velvet-pink !important;        
    }
}

.u-text-gold {
    color: @velvet-gold !important;
    > * {
        color: @velvet-gold !important;        
    }
}

.u-rotate-left {
    transform: rotate(-5deg);
}

.u-rotate-right {
    transform: rotate(5deg);
}